button {
  border: transparent;
  background-color: transparent;
}
.btn-hamburger {
  background: url(../img/hambuger.svg) 0 0 no-repeat;
  @include size(1.5rem);
}

.btn-add {
  @include size(1.875rem);
  min-width: 1.875rem;
  border: 2px solid $secondaryColor;
  border-radius: 100%;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $borderColor;
  border-radius: 6.25rem;
  height: 1.875rem;
  min-width: 5rem;
  margin-right: 1.25rem;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  a {
    display: flex;
    text-decoration: none;
    margin: 0 0.4375rem;
    color: $controlFontColor;
    letter-spacing: 0.0225rem;
    font-family: $ralewayRegularFont;
    font-size: 0.75rem;
    &.active {
      color: $secondaryColor;
    }
  }
  span {
    display: block;
    font-family: $ralewaySemiBoldFont;
    color: $controlFontColor;
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
    text-decoration: none;
    margin: 0 0.40625rem;
  }
}
.btn-round {
  border: 1px solid $borderColor;
  border-radius: 6.25rem;
  @include size(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    @include box-shadow(0px, 2px, 6px, #3c4b9b14);
    border: 1px solid $secondaryColor;
    background-color: $secondaryColor;
  }
}
.btn-filter {
  span {
    display: block;
    font-family: $ralewaySemiBoldFont;
    color: $controlFontColor;
    font-size: 0.75rem;
    letter-spacing: 0.0225rem;
    text-decoration: none;
  }
}
