//=== FONTS
// Raleway
$ralewayRegularFont: "Raleway Regular";
$ralewayMediumFont: "Raleway Medium";
$ralewaySemiBoldFont: "Raleway SemiBold";

// Roboto
$robotoRegularFont: "Roboto Regular";
$robotoMediumFont: "Roboto Medium";

// Quicksand
$quickSandRegularFont: "Quicksand Regular";

//=== Base config
$baseBackgroundColor: #fff;

$baseFont: $robotoRegularFont, sans-serif;
$baseFontColor: #212121;
$baseFontSize: 16px;

$controlFontColor: #a5aec7;

$secondaryColor: #69a9f2;
$borderColor: #e6e9f3;

//=== RESPONSIVE
$mobile: 320px;
$tablet: 768px;
$desktop: 1025px;

$mob-max: "max-width: $tablet - 1";
$mob-min: "min-width: $mobile";
$tab-max: "max-width: $desktop - 1";
$tab-min: "min-width: $tablet";
$desk-min: "min-width: $desktop";
