.logo {
  font-family: $quickSandRegularFont;
  font-weight: 600;
  color: $secondaryColor;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 0;
  a {
    color: $secondaryColor;
    text-decoration: none;
  }
}
