.main-nav {
  &_list {
    @extend %list-reset;
  }
  &_link {
    display: flex;
    align-items: center;
    padding-left: 3.75rem;
    padding-right: 1rem;
    height: 3.125rem;
    font-size: 0.875rem;
    text-decoration: none;
    position: relative;
    .icon {
      @include verticalCenter(1.25rem);
    }
    &:hover {
      background-color: rgba(105, 169, 242, 0.06);
    }
  }
}
