.nav {
  &_list {
    @extend %list-reset;
    display: flex;
  }
  &_item {
    margin-right: 1.875rem;
    &:last-child {
      margin-right: 0;
    }
    &.active,
    &:hover {
      .nav_link {
        border-color: $secondaryColor;
      }
    }
  }
  &_link {
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-family: $ralewayMediumFont;
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: $controlFontColor;
    text-decoration: none;
    padding-bottom: 0.75rem;
  }
  @media only screen and (max-width: $desktop) {
    &_link{
      line-height: 1.2rem;
    }
  }
}
