.top-panel {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  &_title {
    display: block;
    letter-spacing: 0.0375rem;
    margin: 0;
    color: #212121;
    font-size: 1.25rem;
    margin-right: 1.625rem;
    font-family: $quickSandRegularFont;
  }
  &_left {
    display: flex;
    align-items: center;
    .btn-add {
      margin-right: 0.8rem;
    }
    .button-container:last-child{
      margin: 0;
    }
  }
  &_center {
    display: flex;
    align-items: center;
    .btn-round {
      margin: 0 0.3125rem;
    }
  }
  &_right {
    .button-container {
      margin-right: 0;
    }
  }
  @media only screen and (max-width: $desktop) {
    .row-flex {
      flex-wrap: wrap;
    }
    &_left {
      flex-grow: 1;
      margin-bottom: 0.5rem;
      justify-content: space-between;
      width: 100%;
      .button-container{
        margin-right: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        &:last-child{
          margin-right: 0;
        }
      }
    }
    &_center {
      .btn-round:first-child {
        margin-left: 0;
      }
    }
    &_title{
      font-size: 1.1rem;
      margin-right: 1rem;
    }
  }
}
