html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
  @media only screen and (max-width: $tablet) {
    display: block;
  }
}

.main {
  flex-grow: 1;
}
.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row-grid {
  display: grid;
}
.row-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.align-block-right {
  margin-left: auto;
  @media only screen and (max-width: $desktop) {
    display: none;
  }
}
.justify-content-between {
  justify-content: space-between;
}
